<template> 
  <div>  
  <img v-addImg>  
  </div>  
</template>

<script>
export default {     
  directives: {
  addImg: {  
  mounted(el) {  
  let imagelink = [ 
        "https://images-assets.nasa.gov/image/jsc2022e068638/jsc2022e068638~orig.jpg",
        "https://images-assets.nasa.gov/image/jsc2022e068601/jsc2022e068601~orig.jpg",
        "https://images-assets.nasa.gov/image/KSC-20220816-PH-DNQ01_0016/KSC-20220816-PH-DNQ01_0016~orig.JPG",
        "https://images-assets.nasa.gov/image/KSC-20220825-PH-JNP01_0044/KSC-20220825-PH-JNP01_0044~orig.jpg",
        'https://images-assets.nasa.gov/image/jsc2022e068633/jsc2022e068633~orig.jpg',
        'https://images-assets.nasa.gov/image/KSC-20220825-PH-JNP01_0032/KSC-20220825-PH-JNP01_0032~orig.jpg',
        'https://images-assets.nasa.gov/image/KSC-20220903-PH-KLS01_0156/KSC-20220903-PH-KLS01_0156~orig.JPG'
      ];    
  el.src = imagelink[0];
  setInterval(() => el.src = imagelink[(Math.floor(Math.random() * imagelink.length))], 2000);     
  }
  }
  }   
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;  
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
img {
  width: 550px;
  height: 400px;  
}
</style>
